.logo_color_theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15%;
}

#mode-icon {
    cursor: pointer;
    font-size: 20px;
    color: var(--dark-blue-300);
    transition: 0.2s ease-in;
}

#mode-icon:hover {
    transform: scale(1.2);
}

.dark#body {
    background: var(--dark-blue-300);
    transition: 0.3s linear;
}

.dark#body .alert {
    background: var(--light-blue-100);
    color: var(--dark-blue-300);
    transition: 0.3s linear;
}

.dark#body #mode-icon {
    color: var(--light-blue-100);
}

.dark#body .text_input_container_input {
    background: var(--dark-blue-300);
    color: var(--light-blue-100);
    caret-color: var(--white);
}

.dark#body .text_input_container_input::placeholder {
    color: var(--light-blue-100);
}

.dark#body .text_input_container_text_icon {
    color: var(--light-blue-100);
}

.dark#body #encrypt {
    background: var(--light-blue-100);
    color: var(--dark-blue-300);
    transition: 0.3s linear;
}

.dark#body #encrypt:hover {
    background: var(--mystic);
    color: var(--dark-blue-300);
}

.dark#body #decrypt {
    background: var(--mystic-hover);
    color: var(--dark-blue-300);
    transition: 0.3s linear;
}

.dark#body #decrypt:hover {
    background: var(--white);
    color: var(--dark-blue-300);
}

.dark#body footer {
    background: var(--light-blue-100);
    color: var(--dark-blue-300);
    transition: 0.3s linear;
}

.dark#body .class_result {
    background: var(--mystic-hover);
    color: var(--white);
    transition: 0.3s linear;
}

.dark#body .show_class_result_text {
    color: var(--white);
}

@media screen and (max-width: 859px) {
    .dark#body .class_result {
        background: var(--mystic-hover);
        color: var(--white);
    }

    .dark#body .show_class_result_copy_button {
        background: var(--white);
    }
}